:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #172018;
  background: #f4f2eb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  background: #f4f2eb;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}